In [1]:
# 인적사항
# - 나이
# - 성별
# - 주소
jihoon = {
    "name": "jihoon",
    "age": 18,
    "address": "Daegu"
}

In [2]:
print(jihoon['name'])
print(jihoon['age'])

jihoon
18

In [3]:
jihoon2 = dict(name = 'jihoon', age = 18, address = "Daegu")
jihoon3 = dict([["name", "jihoon"], ["age", 18], ["address", "Daegu"]])
print(jihoon2)
print(jihoon3)

{'name': 'jihoon', 'age': 18, 'address': 'Daegu'}
{'name': 'jihoon', 'age': 18, 'address': 'Daegu'}

In [6]:
# Dictionary는 
# 1. 어떻게 생성하는가? (o)
# 2. 어떻게 새로운 요소를 추가하는가?
# 3. 어떻게 기존의 요소를 변경하는가?
# 4. 어떻게 기존의 요소를 삭제하는가?
jihoon = {
    "name": "jihoon",
    "age": 18,
    "address": "Daegu"
}
# 새로운 키를 추가
jihoon["gender"] = "male"
print(jihoon)

jihoon["age"] = 20
print(jihoon)

del jihoon["age"]
print(jihoon)

{'name': 'jihoon', 'age': 18, 'address': 'Daegu', 'gender': 'male'}
{'name': 'jihoon', 'age': 20, 'address': 'Daegu', 'gender': 'male'}
{'name': 'jihoon', 'address': 'Daegu', 'gender': 'male'}

In [9]:
# Dictionary 데이터 타입은 어떤 데이터를 값으로 포함할 수 있는가?
# 숫자, 문자, 리스트, 딕셔러니
jihoon = {
    "name": "jihoon",
    "age": 18,
    "address": "Daegu",
    "friends": ['a', 'b', 'c', 'd', 'e'],
    "abcde": {
        "name": "a",
        "price": 150
    }
}

print(jihoon['friends'])
print(jihoon['abcde']['name'])

['a', 'b', 'c', 'd', 'e']
a

In [10]:
a = {
    "name": "a",
    "name": "b"
}

b

In [13]:
# keys --> 키만 출력, values --> 값만 출력, items --> 키 + 값을 모두 출력
jihoon = {
    "name": "jihoon",
    "age": 18,
    "address": "Daegu",
    "friends": ['a', 'b', 'c', 'd', 'e'],
    "abcde": {
        "name": "a",
        "price": 150
    }
}
print(jihoon.keys())
print(jihoon.values())
print(jihoon.items())

dict_keys(['name', 'age', 'address', 'friends', 'abcde'])
dict_values(['jihoon', 18, 'Daegu', ['a', 'b', 'c', 'd', 'e'], {'name': 'a', 'price': 150}])
dict_items([('name', 'jihoon'), ('age', 18), ('address', 'Daegu'), ('friends', ['a', 'b', 'c', 'd', 'e']), ('abcde', {'name': 'a', 'price': 150})])

In [14]:
# String (o)
# Number (o)
# List (o)
# Dictionary (o)
# Tuple (o)
# Set (o)
# Boolean True or False (o)

In [16]:
# Tuple
# list랑 똑같은데, 한 번 생성하면, 추가, 삭제, 변경이 불가능한 자료 구조
# 요일, 날짜, 게임 ()
# 어떤 데이터 타입이든 다 포함가능하고
# 1. 소괄호를 이용한다
# 2. indexing + slicing
a = (1, 2, 3)
a[1:]

(2, 3)

In [18]:
a[0] = "hello"

TypeError: 'tuple' object does not support item assignment

In [20]:
# set 집합
# 1,1,2,2,3,4,5, --> 1, 2, 3, 4, 5
# 중괄호를 이용
adasd = {1, 1, 2, 2, 3, 3, 4, 4, 5, 5}
print(adasd)
dada = set([1, 1, 2, 2, 3, 3, 4, 4, 5, 5])
print(dada)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [24]:
# add, update, remove
a = {1, 2, 3, 4, 5}
print(a)
# 하나의 값을 추가하고 싶을때 add
a.add(6)
print(a)
# 하나 이상의 다수의 값을 추가하고 싶을때 update + list
a.update([6, 7, 8, 9, 10])
print(a)
a.remove(10)
print(a)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [25]:
상황:

이름, 나이, 성별, 주소, 친구목록, 좋아하는 색
사용하는 컴퓨터 기종과 그 컴퓨터의 사양 (가격, 브랜드, 성능)에 관한 정보를 모두 포함하고 있는 변수를 하나 생성하고 싶습니다. 

주소: “Daegu Bollio Dong Daegu High School”
친구이름: ‘josh’, ‘amy’, ‘kale’, ‘peter’, ‘muta’
좋아하는 색: ‘red’, ‘purple’, ‘blue’, ‘violet’, ‘blue’

이 생성한 변수를 이용해서 다음 작업을 수행하고 싶습니다.
친구목록에 작성된 친구의 이름을 알파벳 순으로 정렬하고 싶습니다.
좋아하는 색을 알파벳 순으로 정렬하고 이것을 역순으로 정렬하고 싶습니다.
컴퓨터 사양에 관한 정보에 (구매 일자를 추가하고 싶습니다 ex) “2020-01-01”)
주소를 공백 기준으로 자르고 싶습니다.
좋아하는 색 리스트를 1 ~ 4번 까지 제거해주세요.

SyntaxError: invalid syntax (<ipython-input-25-83ed6790b0d0>, line 1)

In [26]:
# 이름, 나이, 성별, 주소, 친구목록, 좋아하는 색
a = {
    "name": "yongsu",
    "age": 25,
    "gender": "male",
    "address": "Daegu Bollio Dong Daegu High School",
    "friends": ['josh', 'amy', 'kale', 'peter', 'muta'],
    "favorite_colors": ['velvet', 'blue', 'red', 'purple', 'brown'],
    "computer": {
        "product": "A",
        "performance": "S",
        "price": 1500
    }
}

In [27]:
a["friends"].sort()
print(a["friends"])

['amy', 'josh', 'kale', 'muta', 'peter']

In [28]:
a["favorite_colors"].sort()
a["favorite_colors"].reverse()
print(a["favorite_colors"])

['velvet', 'red', 'purple', 'brown', 'blue']

In [30]:
a["computer"]["purchase"] = "2020-10-10"

In [31]:
a["computer"]

{'product': 'A', 'performance': 'S', 'price': 1500, 'purchase': '2020-10-10'}

In [32]:
a["address"].split(" ")

['Daegu', 'Bollio', 'Dong', 'Daegu', 'High', 'School']

In [33]:
del a["favorite_colors"][1:5]
a["favorite_colors"]

['velvet']

## Set 
수학에서 집합을 생각할 수 있다.
- 집합 안에는 값의 중복이 ㅇ벗고, 고유한 값을 가지는 특징이 있다.

In [2]:
test_set = {1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6}
print(test_set)
print(type(test_set))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [3]:
# set 키워드 + [ ] 리스트
test_set = set([1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6])
print(test_set)
print(type(test_set))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [6]:
k = { 0 }
# 1. 값을 추가 (하나)
k.add(1)
# 2. 값을 추가 (두개이상)
k.update([1, 2, 3])
# 3. 값을 삭제
k.remove(3)
# 4. 값을 확인하는법
print(k)

{0, 1, 2}

In [7]:
# 합집합, 교집합, 차집합, 대칭차집합
# | or union
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}
c = a | b
d = a.union(b)
print(c)
print(d)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [8]:
# 교집합
# & or intersection
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}
c = a & b
d = a.intersection(b)
print(c)
print(d)

{3, 4, 5}
{3, 4, 5}

In [10]:
# 차집합
# - or difference
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}
c = a - b
d = a.difference(b)
print(c)
print(d)

{1, 2}
{1, 2}

In [11]:
# ^ 대칭차집합 (합집합 - 교집합) or symmetric_difference
a = { 1, 2, 3, 4, 5 }
b = { 3, 4, 5, 6, 7 }
c = a ^ b
d = a.symmetric_difference(b)
print(c)
print(d)

{1, 2, 6, 7}
{1, 2, 6, 7}

In [16]:
setX = set(['a', 'b'])
setY = set(['a'])
print(setX.issubset(setY))
print(setY.issubset(setX))
print('a' in setX)

False
True
True

In [23]:
# a: 망고, 포도, 사과
# b: 포도, 사과
# c: 키위

a = set(['mango', 'grape', 'apple'])
b = set(['grape', 'apple'])
c = set(['kiwi'])
# 1. a, b 의 교집합
one = a.intersection(b)
print(one)
# 2. a, b, c의 합집합
two = a | b | c
print(two)
# 3. a가 b의 부분집합인가? 
print(b.issubset(a))
# 4. a가 c의 부분집합인가? 
print(c.issubset(a))
# 5. b가 c의 부분집합인가? 
print(c.issubset(b))
# 6. c가 b의 부분집합인가?
print(b.issubset(c))
# 7. a, b, c의 대칭차집합 
three = a ^ b ^ c
print(three)
# 메론이 a에 있는가?
print("melon" in a)
# 포도가 a에 있는가?
print("grape" in a)

{'apple', 'grape'}
{'kiwi', 'apple', 'mango', 'grape'}
True
False
False
False
{'kiwi', 'mango'}
False
True

In [ ]:
# a: 망고, 포도, 사과
# b: 포도, 사과
# c: 키위
# 1. a, b 의 교집합
# 2. a, b, c의 합집합
# 3. a가 b의 부분집합인가? 
# 4. a가 c의 부분집합인가? 
# 5. b가 c의 부분집합인가? 
# 6. c가 b의 부분집합인가?
# 7. a, b, c의 대칭차집합 
# 메론이 a의 부분집합인가 in 사용?
# 포도가 a의 부분집합인가 in 사용?