In [1]:
test = 1
test = "Hello"
print(test)

Hello

In [2]:
# 정수: 1, -1
# 소수: 0.5, -0.5

In [3]:
a = 2
print(a)

2

In [4]:
a = 1.5
print(a)

1.5

In [5]:
# 나누기 몫 (소숫점 포함)
3 / 2

1.5

In [6]:
# 나누기 몫 (소수점 미포함)
3 // 2

1

In [7]:
# 나머지 구하기
3 % 2

1

In [8]:
2 ** 3

8

In [9]:
2 + 10 * 10 + 3

105

In [10]:
(2 + 10) * (1 + 5)

72

In [11]:
# == 같다
# = (값을 변수에 할당한다)
test = 5
test

5

In [12]:
# Dynamic Typing
# test라는 변수에 숫자를 넣을래
# test라는 변수에 문자를 넣을래
# test라는 변수에 숫자를 넣을래
test = 2
test = "Helo"
test = 3.5

# Static Typing
# test라는 변수에는 오직 숫자만 넣을 수 있고 넣을 수 있는 데이터의 양 조차 정의한다

# 변수명 규칙
- 1. 변수명은 숫자로 시작하면 안된다
- 2. 변수명 사이에 공백은 허용하지 않는다
- 3. 변수명에 @^#&*(^#@(*&@^# 특수문자 사용이 불가능하다
- 4. 변수명에는 print와 같이 어떤 특정 기능을 할 때 사용하는 예약어의 사용이 불가능하다
- 5. 왠만하면 대문자를 처음에 사용하지 마세요!!!

In [13]:
# 세금 = 나의 수익 (100) * 세금 비율 (0.1)
my_income = 100
tax_rate = 0.1

my_taxes = my_income * tax_rate
print(my_taxes)

10.0

In [14]:
# 데이터의 타입을 확인하는 방법 type(변수) 메소드(method) ==> 함수(function)
a = 10
type(a)

int

In [15]:
a = 10.5
type(a)

float

In [16]:
# string
# 문자열
# --> 다수의 문자로 구성된 집합
# --> 문자 하나하나가 합쳐진 상태
# Hello
# "H" + "e" + "l" + "l" + "o"

In [17]:
# 문자열을 정의하느 4가지 방법
# 1. 홑따옴표
# 2. 쌍따옴표
# 3. 트리플 홑따옴표
# 4. 트리플 쌍따옴표

In [ ]:
# 어퍼스트로피
# 한 쌍이 문자열의 시작과 끝을 명시한다는
a = "it's me"