# for Loops

- 반복문 for문은 순서가 있는 혹은 다른 순회를 할 수 있는 요소들을 차례로 출력해주는 역할을 한다.
- 우리가 배웠던 objects, strings, lists, tuples, dictionaries (key, value) 등 순회를 할 수 있다.

In [2]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 1]

In [3]:
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
1

In [4]:
# 덧셈
1 + 1
# 뺄셈
1 - 1
# 곱셈
1 * 1
# 나눗셈 - 몫
1 / 1
# 나눗셈 - 나머지
1 % 1

0

### List

In [5]:
# 2의 배수인 수만 출력하기
list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in list2:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

#### 출력예시
- [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
- 1 - 2의 배수가 아니다
- 2 - 2의 배수다
- 3 - 2의 배수가 아니다
- 4 - 2의 배수다
.
.
.

In [9]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# 1 ~ 10 까지의 합
list1_sum = 0

for num in list1:
    list1_sum = list1_sum + num

print(list1_sum)

55

### Strings

In [14]:
greetings = "Welcome to my world!"

for char in greetings:
    print(char)

W
e
l
c
o
m
e

t
o

m
y

w
o
r
l
d
!

### Tuple

In [15]:
tup = (1, 2, 3, 4, 5)

for t in tup:
    print(t)

1
2
3
4
5

### tuples in List

In [16]:
tup_in_list = [(2,4), (6,8), (9, 10)]

for tup in tup_in_list:
    print(tup)

(2, 4)
(6, 8)
(9, 10)

In [17]:
# Unpacking
tup_in_list = [(2,4), (6,8), (9, 10)]

for (t1, t2) in tup_in_list:
    print("t1", t1)
    print("t2", t2)

t1 2
t2 4
t1 6
t2 8
t1 9
t2 10

### Dictionaries

In [22]:
d = { 'k1': 1, 'k2': 2, 'k3': 3}

# Key: Value --> Key만 출력하는 방법
for item in d:
    print(item)

k1
k2
k3

In [23]:
d = { 'k1': 1, 'k2': 2, 'k3': 3}

# Key를 이용해 Value를 출력하는 방법
for item in d:
    print(d[item])

1
2
3

In [24]:
# 처음부터 Value만 출력하는 방법
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [25]:
# Dictionaries Unpacking
for (key, value) in d.items():
    print("key", key)
    print("value", value)

key k1
value 1
key k2
value 2
key k3
value 3

In [27]:
## Dictionaries를 List or Tuple 형태로 바꾸는 법 (반복문을 용이하게 만들기 위해)
list(d.keys())

['k1', 'k2', 'k3']

In [28]:
# Dictionary 값만 출력해서 그것을 list 형태로 변형해주고, 정렬 (숫자, 문자 기준으로)
sorted(d.values())

[1, 2, 3]

3