# Numbers in Python

<ol>
    <li>숫자의 타입</li>
    <li>기본적인 연산</li>
    <li>몫과 나머지 연산</li>
    <li>객체 할당</li>
</ol>

## Types of Numbers
Python에는 두 종류의 숫자 타입이 존재한다. 

- 정수(Integer): 정수는 양수, 음수 등인데 예를 들면, 2 or -2...
- 소수(Floating Point Number): 소수는 소숫점이 존재하는 숫자 예를 들면, 0.1, 0.2...

### Basic Arithmetic

In [2]:
# 더하기 (Addiction)
2 + 1

3

In [3]:
# 빼기 (Subtraction)
3 - 1

2

In [4]:
# 곱하기 (Multiplication)
2 * 2

4

In [2]:
# 나누기 몫 (소숫점 포함) (Division)
3 / 2

1.5

In [3]:
# 나누기 몫 (소숫점을 제거한 값) (Floor Division)
7 // 4

1

In [6]:
# 나누기의 나머지 (Modulo)
7 % 4

3

In [7]:
# 제곱 (Powers)
2 ** 3

8

In [8]:
# 연산의 순서 (Order of Operations followed in Python)
2 + 10 * 10 + 3

105

In [9]:
# 소괄호를 이용한 연산의 순서 (Parentheses to specify orders)
(2 + 10) * (10 + 3)

156

# Variable Assignments
- 내가 원하는 값을 담을수 있는 통

In [10]:
# 숫자 5를 a라는 이름을 가진 통에 담아보자
# a라는 통해 값을 담는 행위 = 변수에 값을 할당한다 = Assign a value
a = 5

In [11]:
# a라는 통이 숫자 5를 잘 담고있는지 확인해보자
print(a)

5

In [12]:
# a라는 통이 숫자 5를 잘 담고있는게 확인되었으니 이 값을 가지고 연산을 해보자
print(a * a)

25

In [13]:
# a라는 통에 숫자 5대신에 다른 숫자를 담아보자 (재할당 => Reassignment)
a = 10

In [14]:
# a라는 통에 숫자 5대신에 숫자 10이 담긴 것을 확인해보자
print(a)

10

In [15]:
# 이번에는 a라는 통에 담긴 숫자를 이용해 a라는 통이 값을 재할당하보자
a = a + a
# a = 10 + 10

In [16]:
a

20

### 변수명 규칙
1. 변수명은 숫자로 시작하면 안 된다.
2. 변수명 사이에 공백은 허용하지 않는다. 대신에 _ (underscore) 기호를 사용하자.
3. 변수명에는 '",<>/?|\()!@#$%^&*~-+ 들이 포함되면 안 된다.
4. 변수명을 지을 때 일반적으로 영어 소문자를 사용한다.
5. 변수명에는 print와 같은 예약어를 사용할 수 없다.
6. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
   or 'I' (uppercase letter eye) as single character variable names.

In [19]:
# 세금 = 나의 수익(100) * 세금 비율(0.1)
my_income = 100

tax_rate = 0.1
my_taxes = my_income * tax_rate

In [21]:
my_taxes

10.0

## Dynamic Typing
- https://github.com/jos50275266/su-programming101/blob/master/Fundamentals/02.%20What_is_Variable.md

1. a 라는 변수에 숫자를 할당
2. 마음이 바뀌어서 a 라는 변수에 문자를 할당
3. 다시 마음이 바뀌어서 a 라는 변수에 문자를 할당
...

In [17]:
a = 2

In [18]:
a

2

In [19]:
type(a)

int

In [20]:
a = "Hello"

In [21]:
a

'Hello'

In [22]:
type(a)

str

## Pros and Cons of Dynamic Typing

#### Pros
- 쉽다
- 개발 시간이 빠르다

#### Cons
- 예측하지 못한 결과를 출력할 수 있다
- type()을 항상 검사해야한다

Python에는 어떤 데이터 타입이 존재하는가?
##### Python의 데이터 타입
- int (for integer 정수)
- float (소수)
- str (for string 문자)
- list (list 배열)
- tuple (tuple)
- dict (for dictionary 객체)
- set (set)
- bool (for Boolean True/False 참/거짓)

In [23]:
a = 1
type(a)

int

In [24]:
a = 1.5
type(a)

float

In [25]:
a = [1, 2, 3]
type(a)

list

In [26]:
a = "first"
type(a)

str

In [27]:
a = { "first": "a", "second": "b"}
type(a)

dict

In [28]:
a = (1, 2)
type(a)

tuple

In [29]:
a = set("Hello")
type(a)

set

In [30]:
a = True
type(a)

bool