# Numbers in Python

<ol>
    <li>숫자의 타입</li>
    <li>기본적인 연산</li>
    <li>몫과 나머지 연산</li>
    <li>객체 할당</li>
</ol>

## Types of Numbers
Python에는 다양한 종류의 숫자 타입이 존재한다. 정수(Integer)와 소수(Floating Point Number)에 대해 알아보자.
정수는 양수, 음수 등인데 예를 들면, 2 or -2...
소수는 소숫점이 존재하는 숫자 예를 들면, 0.1, 0.2...

### Basic Arithmetic

In [1]:
# 더하기 (Addiction)
2 + 1

3

In [2]:
# 빼기 (Subtraction)
3 - 1

2

In [3]:
# 곱하기 (Multiplication)
2 * 2

4

In [6]:
# 나누기 몫 (Division)
3 / 2

1.5

In [7]:
# 나누기 몫의 (소숫점을 제거한 값) (Floor Division)
7 // 4

1

In [8]:
# 나누기의 나머지
7 % 4

3

In [9]:
# 제곱
2 ** 3

8

In [10]:
# 연산의 순서 (Order of Operations followed in Python)
2 + 10 * 10 + 3

105

In [11]:
# 소괄호를 이용한 연산의 순서 (Parentheses to specify orders)
(2 + 10) * (10 + 3)

156

# Variable Assignments
- 내가 원하는 값을 담을수 있는 통

In [12]:
# 숫자 5를 a라는 이름을 가진 통에 담아보자
a = 5

In [13]:
# a라는 통이 숫자 5를 잘 담고있는지 확인해보자
print(a)

5

In [14]:
# a라는 통이 숫자 5를 잘 담고있는게 확인되었으니 이 값을 가지고 연산을 해보자
a * a

25

In [15]:
# a라는 통에 숫자 5대신에 다른 숫자를 담아보자 (재할당 => Reassignment)
a = 10

In [16]:
# a라는 통에 숫자 5대신에 숫자 10이 담긴 것을 확인해보자
print(a)

10

In [17]:
# 이번에는 a라는 통에 담긴 숫자를 이용해 a라는 통이 값을 재할당하보자
a = a + a

In [18]:
a

20

### 변수명 규칙
1. 변수명은 숫자로 시작하면안된다.
2. 변수명은 사이에 공백은 발생하면안되, 대신에 _ 기호를 사용하기.
3. 변수명에는 '",<>/?|\()!@#$%^&*~-+ 들이 포함되면안되.
4. 변수명을 지을때 일반적으로 영어 소문자를 사용한다.
5. 변수명에는 print와 같은 내부적인 기능을 제공해주는 키워드를 사용하면안되.
6. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
   or 'I' (uppercase letter eye) as single character variable names.

In [19]:
# 세금 = 나의 수익(100) * 세금 비율(0.1)
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [21]:
my_taxes

10.0

## Dynamic Typing
a라는 변수에 숫자를 할당했어, 근데 나중에 마음이 바껴서 a라는 변수에 문자를 재할당했어.
지금 a라는 변수에는 숫자 --> 문자가 할당된 것. 이것은 다른 데이터 타입이 하나의 변수에 얼마든지 재할당 될 수 있다는 것을 의미한다.

In [22]:
a = 2

In [23]:
a

2

In [24]:
type(a)

int

In [25]:
a = "상호"

In [26]:
a

'상호'

In [27]:
type(a)

str

## Pros and Cons of Dynamic Typing

#### Pros
- 쉽다
- 개발 시간이 빠르다

#### Cons
- 예측하지 못한 결과를 출력할 수 있다. 예를 들면, 숫자를 계산하는 계산기는 숫자의 데이터 타입만 받을 수 있는 거기에 숫자 데이터가 담겨있을 거라고 간주되는 변수를 사용했는데, 그곳에 문자가 담겨있을때 예측하지 못한 오류가 발생할 수 있다. 물론 이런 간단한 문제는 해결하기 쉽지만 코드수가 길어지고 다른 사람과 협업시 직접 코드를 작성하지 않았을때 생각보다 큰 시간낭비를 불러올수있다.

- type()을 항상 검사해야한다

선생님 Dynamic Typing이 무엇인지 다 이해했어요, 근데 Python에는 어떤 데이터 타입이 존재하는가요?
##### Python의 데이터 타입
- int (for integer 정수)
- float (소수)
- str (for string 문자)
- list (list 배열)
- tuple (tuple)
- dict (for dictionary 객체)
- set (set)
- bool (for Boolean True/False 참/거짓)

In [28]:
a = 1
type(a)

int

In [29]:
a = 1.5
type(a)

float

In [30]:
a = [1, 2, 3]
type(a)

list

In [33]:
a = "first"
type(a)

str

In [34]:
a = { "first": "a", "second": "b"}
type(a)

dict

In [35]:
a = (1, 2)
type(a)

tuple

In [38]:
a = set("Hello")
type(a)

set

In [39]:
a = True
type(a)

bool