In [1]:
a = { "key1": "value1", "key2": "value2"}
print(a['key1'])
print(a['key2'])

value1
value2

In [5]:
john = {
    "age": 42,
    "height": 100,
    "address": "daegu",
    "namelist": ['a', 'b', 'c', 'd']
}

print(john["namelist"][1:3])

['b', 'c']

In [6]:
a = { "a": 1, "a": 2 }
a["a"]

2

In [7]:
a = { "name": "su" }
a['name'] = "yongsu"
print(a['name'])

yongsu

In [8]:
a = {}

In [9]:
a["address"] = "Daegu"
a

{'address': 'Daegu'}

In [10]:
# 1
simple_dict = dict(name = "su", age = 25, address = "daegu")
print(simple_dict)

{'name': 'su', 'age': 25, 'address': 'daegu'}

In [11]:
simple_dict['name']

'su'

In [12]:
# 2. list를 이용해서 Dictionary를 생성하는 방법
before_list_to_dict = [["name", "su"], ["age", 15]]
after_list_to_dict = dict(before_list_to_dict)
after_list_to_dict

{'name': 'su', 'age': 15}

In [13]:
after_list_to_dict

{'name': 'su', 'age': 15}

In [14]:
del after_list_to_dict['name']
after_list_to_dict

{'age': 15}

In [15]:
# pop method
after_list_to_dict['age'] = 15
after_list_to_dict

{'age': 15}

In [16]:
after_list_to_dict['age2'] = 20

In [17]:
after_list_to_dict

{'age': 15, 'age2': 20}

In [18]:
after_list_to_dict.pop('age')
after_list_to_dict

{'age2': 20}

In [20]:
민준씨...

Dictionary가 필요해요
- 이름, 나이, 성별, 친구목록, loan(애도 데이터 타입이 dictionary)
- 친구목록은 영어 이름으로 넣을껀데 알파벳 순으로 정렬하고 싶구요
- 정렬시 가장 앞에있는 5명의 이름 정보를 확인하고 싶어요

loan에 jonghwi 리스트 형태의 데이터 타입을 띙어요 
숫자를 넣고 싶어요 출력하기전에 역순으로 정렬하고 최상위 5명을 보고 싶어요

SyntaxError: invalid syntax (<ipython-input-20-8f25158401f7>, line 1)

In [21]:
minjun = {
    'name': 'yongsu',
    'age': 15,
    'gender': 'male',
    'namelist': ['e', 'd', 'c', 'b', 'a'],
    'pimple': {
        'namelist': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    }
}

In [22]:
minjun['namelist'].sort()

In [23]:
minjun['namelist']

['a', 'b', 'c', 'd', 'e']

In [25]:
minjun['pimple']['namelist'].reverse()

In [27]:
minjun['pimple']['namelist'][:5]

[10, 9, 8, 7, 6]

# Tuple

리스트와 굉장히 유사한 데이터 구조!
튜플은 한 번 생성하면 내부의 값을 변경(추가, 삭제)가 불가능하다는 차이점이 존재한다.
절대 변하지 않는 것들
요일, 날짜, 미래 여자친구 숫자, 파이값

1. 튜플 생성하기
2. 튜플을 활용한 함수 혹은 메소드
3. 불변성

In [28]:
# 소괄호를 이용해서 생성한다
a = (1, 2, 3)

In [35]:
a

(1, 2, 3)

In [30]:
a[0]

1

In [31]:
a[1]

2

In [32]:
a[2]

3

In [33]:
a[0] = 'hello'

TypeError: 'tuple' object does not support item assignment

In [47]:
a = (1, "Two", 3, (1, 2, 3))

In [48]:
a

(1, 'Two', 3, (1, 2, 3))

In [49]:
a[3].reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [43]:
a[3].pop()

1

In [46]:
a[3]

[3, 2]

In [50]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9)

In [53]:
a.index(9)

8

In [63]:
a = {
    'name': 'su',
    'age': 15,
    'gender': 'male'
}

a.keys()

dict_keys(['name', 'age', 'gender'])

In [64]:
a.values()

dict_values(['su', 15, 'male'])

In [66]:
a.items()

dict_items([('name', 'su'), ('age', 15), ('gender', 'male')])

In [68]:
# 1. set 선언하는 방법
s = {1, 2, 3, 4, 1, 1, 1, 1, 1, 1}
print(s)
print(type(s))

{1, 2, 3, 4}
<class 'set'>

In [69]:
# 2. list와 set 함수를 이용한 방법
s = set([1, 2, 3, 4, 1, 1, 1, 1, 1, 1, 1])
print(s)
print(type(s))

{1, 2, 3, 4}
<class 'set'>

In [70]:
a = { 1, 2, 1, 3, 1, 3, 2, 3, 1, 4, 5, 1, 1, 1}
b = set([1, 2, 1, 3, 1, 3, 2, 3, 1, 4, 5, 1, 1, 1])
print(a)
print(b)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [73]:
for i in { 100, 2, 3, 40, 1, 3, 6, 2, 3, 4, 5,10}:
    print(i)

1
2
3
100
4
6
5
40
10

In [75]:
a = { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print(11 in a)
print(10 in a)

False
True

In [77]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a[1::2]

[2, 4, 6, 8, 10]

In [78]:
a = {1, 2, 3, 4, 5}
a.add(6)
a.add(7)
a.remove(15)
a.update([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

{1, 2, 3, 4, 5, 6, 7}

In [84]:
a.remove(15)
a

KeyError: 15

In [80]:
# set에 다수의 요소를 추가하고 싶은 경우
a.update([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [81]:
k = { 1, 2, 3}