In [1]:
# 1. Number - 1, 1.5 DONE
# 2. String 'Hello', "It's me", '''dadsada''' DONE
# 3. List [1, 2.5, "ea", [1, 3, 4]] DONE
# 4. Dictionary { "name": "su"} DONE
# 5. Tuple (1, 2, 3, 4) - PI, 날짜, 요일 DONE
# 6. Set - 집합 --> {1, 1, 1, 2, 3, 4, 5, 6} --> { 1, 2, 3, 4, 5, 6 } DONE
# 7. Boolean (True, False) True False DONE

In [12]:
# string
#- 기존의 값의 삭제 혹은 변경이 불가능하다
#- 단, 새로운 값 추가는 가능하다
#- indexing, slicing
# 길이를 잰다 --> 안에 특정 요소가 몇개있는지 알고싶다 
# --> 특정 요소가 어느 위치에 있는가 --> 기존의 무낮열을 변경할 수 없는가(새로운 문자열 생성)
#a = "Hello World"
#print(a.replace('World', "무야호"))
#print(a)

Hello 무야호
Hello World

In [20]:
# LIST
# - 기존의 값의 삭제 혹은 갱신이 가능하다
# - indexing, slicing
# - 순서가 중요하다
# 끝에 요소를 제거하기 쉽다, 끝에 요소를 추가하기 시팓,
# 특정 요소가 몇개인지, 특정 요소의 위치
# 특정 인덱스(위치)에 원하는 값을 삽입할 수 있다 insert
# 리스트 내부에 값을 이용해서 요소 제거 가능
a = [1, 2, 3, 4, 5, 6, 7, 8]
a.remove(7)

In [22]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [23]:
a = ['*'] * 10
a

['*', '*', '*', '*', '*', '*', '*', '*', '*', '*']

In [24]:
a = [[1, 2, 3], [4, 5, 6]]
a[0][2]

3

In [25]:
a = [1, 2, 3, [4, 5, 6, [7, 8, 9]]]
a[3][3][2]

9

In [29]:
# 리스트 요소를 삭제 및 갱신
a = [1, 2, 3, 4, 5]
a[0] = "Hello"
a

['Hello', 2, 3, 4, 5]

In [33]:
# Dictionary
# Theme = 인적사항
상호 = {
    'name': "상호",
    'age': 16,
    'address': "대구"
}

재욱 = {
    'name': '재욱',
    'age': 17,
    'address': "대구"
}

재욱['name']

'재욱'

In [38]:
# Nested Dictionary
yongsu = {
    'name': "Yongsu",
    'age': 25,
    'height': 182,
    'friends': ['a', 'b', 'c', 'd'],
    'students_info': [
        {
            'name': '상호'
        },
        {
            'name': '종휘'
        },
        
        {
            'name': '재욱'
        }
    ]
}

yongsu['students_info'][0]['name']

'상호'

In [39]:
a = {"a": 1, "a": 2}
a['a']

2

In [40]:
a = {}

In [41]:
a['name'] = '재욱'
a

{'name': '재욱'}

In [42]:
# Dictionary를 간단하게 선언하는 방법
a = dict(name="su", age=25)
print(a)

{'name': 'su', 'age': 25}

In [45]:
# 2차원 배열을 이용해 생성하는법
a = [["name","su"], ["age", 15]]
print(dict(a))

{'name': 'su', 'age': 15}

In [46]:
# 생성, 갱신, 삭제
yongsu = {
    'name': "Yongsu",
    'age': 25,
    'height': 182,
    'friends': ['a', 'b', 'c', 'd'],
    'students_info': [
        {
            'name': '상호'
        },
        {
            'name': '종휘'
        },
        
        {
            'name': '재욱'
        }
    ]
}

del yongsu['age']
yongsu

{'name': 'Yongsu',
 'height': 182,
 'friends': ['a', 'b', 'c', 'd'],
 'students_info': [{'name': '상호'}, {'name': '종휘'}, {'name': '재욱'}]}

In [47]:
# key를 이용해 삭제하는법 pop
test = {"name": "su", "age": 25}
test.pop('name')
test

{'age': 25}

In [48]:
test = { "name": "su", "age": 25, "address": "daegu"}
new_dict = { key: val for key, val in test.items() if key != "name"}
print(new_dict)

{'age': 25, 'address': 'daegu'}

In [49]:
# key만 뽑아내기, value만 뽑애내기
test = { "name": "su", "age": 25, "address": "daegu"}
test.keys()

dict_keys(['name', 'age', 'address'])

In [50]:
test.values()

dict_values(['su', 25, 'daegu'])

In [51]:
test.items()

dict_items([('name', 'su'), ('age', 25), ('address', 'daegu')])

In [52]:
# 튜플은 리스트와 유사한 자료구조다, 튜플은 한 번 생성하면 내부의 값을 (추가, 삭제)등의 변경이 불가능하다
# 요일, 날짜, 달력 등 변하지 않는 일정한 수의 경우
# 제약사항을 명시한다

In [53]:
t = (1, 2, 3)

In [54]:
type(t)

tuple

In [55]:
t[0]

1

In [56]:
t[:]

(1, 2, 3)

In [57]:
t[0] = 'adsa'

TypeError: 'tuple' object does not support item assignment

In [58]:
t = ('Hello', 0, 1, 2, 3)
t

('Hello', 0, 1, 2, 3)

In [59]:
t = ('Hello', 0, 1, 2, [1, 2, 3])
t

('Hello', 0, 1, 2, [1, 2, 3])

In [60]:
t.index(0)

1

In [61]:
t.count(1)

1

In [62]:
len(t)

5

In [64]:
t[4].pop()
t

('Hello', 0, 1, 2, [1, 2])

In [65]:
# set은 집합을 생가가혐ㄴ되, 순서는 없어, 하지만 이 집합안에는 값의 중복이 없다.
# 고유한 값 만을 가져아한다
# set 정의 방법
# 1. 중괄호
# 2. set 키워들ㄹ + list
a = {1, 1, 1, 1, 2, 3, 4, 5, 6}
print(a)
print(type(a))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [66]:
s = set([1, 1, 1, 2, 3, 4, 5, 6, 7, 7])
print(s)
print(type(s))

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

In [67]:
# set에 값 추가하기 -단일 값add, 다수의 값 추가할때 update
k = {1, 2}
k.add(3)
k.add(3)
k

{1, 2, 3}

In [68]:
k = {1, 2}
k.update([1,2,3,4,5,6,7,8,9])
print(k)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [72]:
# 원소 제거하는 방법 - remove
k = { 1, 2, 3 }
k.remove(3)
print(k)
print(1 in k)

{1, 2}
True

In [73]:
# 합집합 or union
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}
c = a.union(b)
d = a | b
print(c)
print(d)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [74]:
a = True
b = False

In [75]:
# Comparison Operator
a == b

False

In [76]:
a != b

True

In [77]:
a = 5
b = 10
a > b
a < b
a >= b
a <= b

True

In [79]:
a = 5
b = 5
print(a == 5 or b == 5)

True

In [80]:
a = "귤"

if a == '사과':
    print('a')
elif a == '배':
    print('b')
elif a == '키위':
    print('c')
else:
    print('d')

d

In [87]:
# 반복문 순회할 수 있는 데이터 타입
# objects, string, lists, tuples, dictionarys
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
index = 0
for value in list1:
    print(index)
    print(f"값 {value}")
    index = index + 1

0
값 1
1
값 2
2
값 3
3
값 4
4
값 5
5
값 6
6
값 7
7
값 8
8
값 9
9
값 10

In [88]:
list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in list2:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [89]:
greetings = "Welcome To the Jungle!"

for char in greetings:
    print(char)

W
e
l
c
o
m
e

T
o

t
h
e

J
u
n
g
l
e
!

In [90]:
tup = (1, 2, 3, 4, 5)

for i in tup:
    print(i)

1
2
3
4
5

In [91]:
tup_in_list = [(2, 4), (6, 8), (9, 19)]

for tup in tup_in_list:
    print(tup)

(2, 4)
(6, 8)
(9, 19)

In [92]:
# unpacking
tup_in_list = [(2, 4), (6, 8), (9, 19)]

for (t1, t2) in tup_in_list:
    print("t1", t1)
    print("t2", t2)

t1 2
t2 4
t1 6
t2 8
t1 9
t2 19

In [94]:
# dicitionary
d = { "k1": 1, "k2": 2, "k3": 2}

for item in d:
    print(d[item])

1
2
2

In [95]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 2)])

In [96]:
for (key, value) in d.items():
    print("key", key)
    print("value", value)

key k1
value 1
key k2
value 2
key k3
value 2

In [97]:
# range(시작숫자, 끝숫자 + 1, 간격)
range(0, 11)

range(0, 11)

In [98]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [99]:
list(range(0, 101, 10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

## enumerate

In [100]:
index_count = 0

for letter in "abcde":
    print(f"At index {index_count} and letter {letter}")
    index_count = index_count + 1

At index 0 and letter a
At index 1 and letter b
At index 2 and letter c
At index 3 and letter d
At index 4 and letter e

In [102]:
# enumerate

for (index, letter) in enumerate("abcde"):
    print(f"At index {index} and letter {letter}")

At index 0 and letter a
At index 1 and letter b
At index 2 and letter c
At index 3 and letter d
At index 4 and letter e

In [103]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
a = [1, 2, 3, 4, 5]
print(a)
print(a[0])
print(a[::2])
del a[0]

[1, 2, 3, 4, 5]
1
[1, 3, 5]

In [3]:
a.append(6)
a.append(7)

In [4]:
a

[2, 3, 4, 5, 6, 7]

In [5]:
a.pop()

7

In [6]:
a = [1, 1.5, "문자", [1, 2, 3]]
print(a[3])

[1, 2, 3]

In [8]:
a = [1, 2, 3, 4, 5, 6]
a.reverse()
print(a)

[6, 5, 4, 3, 2, 1]

In [9]:
a[0] = "Hello"
print(a)

['Hello', 5, 4, 3, 2, 1]

In [11]:
# 리스트 
# 생성, 삭제, 추가, 갱신 
a = ['b', 'c', 'a', 'd']
a.sort()
print(a)

['a', 'b', 'c', 'd']

In [14]:
a = [1, 2, 3, 4, 5, ["가", "나", [1, 2, 3, 4, 5]]]
print(a[5][2][2:])

[3, 4, 5]

In [15]:
# String (o)
# Number (o)
# List   (o)
# Dictionary
# Tuple
# Set
# Boolean

In [17]:
# Dictionary
# 인적 사항
# 이름
# 나이
# 직업
# 주소
# Key: Value { }

su = {
    "name": "Yongsu",
    "age": 25,
    "address": "Daegu",
    "work": "unemployed"
}

print(su["name"])
print(su["age"])
print(su["address"])

Yongsu
25
Daegu

In [20]:
# Dictionary를 생성하는 세 가지 방법
# 1. 제일 처음에 본거
# 2. dict라는 함수를 이용해 생성
a = dict(name = "su", age = 25, address = 'daegu')
print(a)
# 3. dict 함수를 사용하는데 이차원 배열
a = dict([["name", "su"], ["age", 15]])
print(a)

{'name': 'su', 'age': 25, 'address': 'daegu'}
{'name': 'su', 'age': 15}

In [23]:
a = {
    "name": "yongsu"
}

# 내부에 존재하는 키의 값을 변경하고 싶을때
a["name"] = "hyunsu"
print(a)
# 내부에 존재하는 값을 삭제하고 싶을때
del a["name"]

print(a)

# 새로운 요소 추가하기
a["age"] = 15
print(a)

{'name': 'hyunsu'}
{}
{'age': 15}

In [24]:
# 유용한 Dictionary 함수
test = { "name": "su", "age": 25, "address": "daegu"}
# Dictionary Key 값만 출력
print(test.keys())
# Dictionary Value 값만 출력
print(test.values())
# Dictionary Key: Value 값을 출력
print(test.items())

dict_keys(['name', 'age', 'address'])
dict_values(['su', 25, 'daegu'])
dict_items([('name', 'su'), ('age', 25), ('address', 'daegu')])

In [28]:
# 1. list에는 dictionary 데이터를 포함할 수 있다 : T
a = { 'name': 'su' }
b = [a]
print(b[0]['name'])
# 2. dictionary에 value로 list를 포함할 수 있다 : T
a = {
    'test': [1, 2, 3, 4, 5]
}
print(a['test'])

su
[1, 2, 3, 4, 5]

In [29]:
상황:

이름, 나이, 성별, 주소, 친구목록[], 좋아하는 색,  Dictionary를 사용한다
사용하는 컴퓨터 기종과 그 컴퓨터의 사양 (가격, 브랜드, 성능)에 관한 정보를 모두 포함하고 있는 변수를 하나 생성하고 싶습니다 (Dictionary를 사용한다). 

주소: “Daegu Bollio Dong Daegu High School”
친구이름: ‘josh’, “amy’, ‘kale’, ‘peter’, ‘muta’
좋아하는 색: ‘red’, ‘purple’, ‘blue’, ‘violet’, ‘blue’

이 생성한 변수를 이용해서 다음 작업을 수행하고 싶습니다.
친구목록에 작성된 친구의 이름을 알파벳 순으로 정렬하고 싶습니다.
좋아하는 색을 알파벳 순으로 정렬하고 이것을 역순으로 정렬하고 싶습니다.
컴퓨터 사양에 관한 정보에 (구매 일자를 추가하고 싶습니다 ex) “2020-01-01”)
주소를 공백 기준으로 자르고 싶습니다.
좋아하는 색 리스트를 1 ~ 4번 까지 제거해주세요.

SyntaxError: invalid syntax (<ipython-input-29-bd0ee2e69bb4>, line 1)

In [30]:
#이름, 나이, 성별, 주소, 친구목록[], 좋아하는 색,  Dictionary를 사용한다
#사용하는 컴퓨터 기종과 그 컴퓨터의 사양 (가격, 브랜드, 성능)에 관한 정보를 모두 포함하고 있는 변수를 하나 생성
#주소: “Daegu Bollio Dong Daegu High School”
#친구이름: ‘josh’, “amy’, ‘kale’, ‘peter’, ‘muta’
#좋아하는 색: ‘red’, ‘purple’, ‘blue’, ‘violet’, ‘blue’

In [38]:
yongsu = {
    "name": "Yongsu",
    "age": 25,
    "gender": "male",
    "address": "Daegu Bollio Dong Daegu High School",
    "friends_list": ["josh", "amy", "kale", "peter", "muta"],
    "favorite_colors": ["red", "purple", "blue", "violet", "orange"],
    "computer": {
        "price": 150,
        "brand": "Samsung",
        "performance": "A"
    }
}

친구목록에 작성된 친구의 이름을 알파벳 순으로 정렬하고 싶습니다.
yongsu["friends_list"].sort()
yongsu["favorite_colors"].sort()
yongsu["favorite_colors"].reverse()
yongsu["computer"]["purchase"] = "2020-01-01"
del yongsu["favorite_colors"][1:5]

['amy', 'josh', 'kale', 'muta', 'peter']
['violet']
{'price': 150, 'brand': 'Samsung', 'performance': 'A', 'purchase': '2020-01-01'}
['Daegu', 'Bollio', 'Dong', 'Daegu', 'High', 'School']
['violet']

In [43]:
# Tuple
# 리스트는 내용의 추가, 삭제, 갱신 모두 다 가능하다
# 튜플은 리트스랑 똑같아요, 추가 삭제 갱신 다 불가능하요
# 튜플: 요일, 달
# 튜플을 사용할 때는 소괄호를 
a = (1, 2, 3, 4, 5)
print(a)
# a[0] = "hello"
# del a[0]
# 튜플 정의할 때 어떤 데이터 타입이든 다 가능하다 : T 
a = (1, 1.5, "문자", [1, 2, 3])
print(a)

(1, 2, 3, 4, 5)
(1, 1.5, '문자', [1, 2, 3])

In [44]:
a[0]

1

In [45]:
print(a[1:])

(1.5, '문자', [1, 2, 3])

In [46]:
# 체스, 바둑, 오목
# 게임을 시작할 때
# 흰색, 검은색

In [47]:
# Boolean
#True
#False

In [55]:
# Set (집합)
# 중복된 값을 제거하고, 고유한 값만 보관하고 싶은 경우
# 1 ,1, 2, 2, 3, 4, 4, 5, 5, 6, 6, --> 1, 2, 3, 4, 5, 6
# 중괄호를 이용해서 정의해요
a = {1, 1, 2, 2, 3, 3, 4, 4, 5, 5}
print(a)
print(6 in a)
print(5 in a)
a.add(6)
print(a)
a.remove(6)
print(a)
# 다수의 요소를 추가하고 싶다
a.update([1, 2, 5, 7])
print(a)

{1, 2, 3, 4, 5}
False
True
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 7}

In [ ]:
# python
1. String - 기존의 것의 수정은 불가하다, 추가는 가능하다 (indexing + slicing)
2. Number 
3. List - 추가, 삭제, 갱신 모두 가능하다 indexing + slciing
4. Dictionary - 추가, 삭제, 갱신 모두 가능하다 key: value
5. Tuple - 리스트랑 똑같은데 추가, 삭제, 갱신 모두 불가능하다
6. Set - 고유한 값만 추가할 수 있다 (집합)
7. Boolean  - True False